.main-bg {
    background-image: url('/assets/The-Boys-segunda-temporada-scaled.jpg');
    background-size: cover;
}

.transparent {
    opacity: 0.5;
}

.form-back {
    background-color: #5e6061;
    margin-top: 10px;
    position: absolute;
}

form {
    opacity: 1.0;
}

form div label {
    color: rgb(18, 18, 18);
    margin-bottom: 5px;
}

.titulo-pagina {
    padding: 100px 0px 60px 0px;
    background-color: #2a9ee2;
    text-align: center;
}


.msg {
    background-color: green;
    text-align: center;
}

.gb-list {
    background-color: #5e6061;
}

/* footer */
footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.branco {
    color: #FFF;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#letra-laranja {
    color: orange;
}

footer p {
    margin-bottom: 0;
}

footer a,
a:hover {
    color: #FFF;
}